APP_ENV=production
SERVER_PORT=8080
SERVER_READ_TIMEOUT=10s
SERVER_WRITE_TIMEOUT=10s
SERVER_IDLE_TIMEOUT=60s

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=aa123123
DB_PASSWORD_FALLBACKS=secret
DB_NAME=gue
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_CONN_MAX_LIFETIME=5m

REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0

MEMCACHED_ENABLED=true
MEMCACHED_ADDR=127.0.0.1:11211

CACHE_DRIVER=memcached
CACHE_DEFAULT_TTL=5m
CACHE_USER_ME_TTL=2m
CACHE_QUERY_CACHE_ON=true

ASYNQ_CONCURRENCY=10

JWT_ACCESS_SECRET=deNtXXntNGNak+6eAECSrM3HZSXhK4wLY4xpwIKBTiORF7ioyK0BJlQzxF7CVr9XFI7MMCgN4SiOq1NCeaf7Tg==
JWT_REFRESH_SECRET=ujeOJjxuDLQKXmEN+LVIw2SxzqU91eAi8x+TFR73kNzyb3UgJvVHBfI4JOpofbT/gJf2K2hnopjoPXZAbsHs3g==
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=168h
JWT_ISSUER=gue-starter
JWT_AUDIENCE=gue-clients

SECURITY_COOKIE_ACCESS_TOKEN_NAME=access_token
SECURITY_COOKIE_REFRESH_TOKEN_NAME=refresh_token
SECURITY_COOKIE_CSRF_COOKIE_NAME=csrf_token
SECURITY_COOKIE_DOMAIN=
SECURITY_COOKIE_PATH=/
SECURITY_COOKIE_SECURE=true
SECURITY_COOKIE_HTTP_ONLY=true
SECURITY_COOKIE_SAME_SITE=lax
SECURITY_CSRF_ENABLED=true
SECURITY_CSRF_HEADER_NAME=X-CSRF-Token
SECURITY_RATE_LIMIT_ENABLED=true
SECURITY_RATE_LIMIT_WINDOW=1m
SECURITY_RATE_LIMIT_AUTH_LOGIN=10
SECURITY_RATE_LIMIT_AUTH_REGISTER=5
SECURITY_RATE_LIMIT_PAYMENT_BRIDGE=60

CORS_ALLOWED_ORIGINS=https://gue.test
VITE_SITE_URL=https://apigoqr.com
VITE_API_BASE_URL=https://gue.test
VITE_CSRF_HEADER_NAME=X-CSRF-Token
VITE_CSRF_COOKIE_NAME=csrf_token

PAYMENT_GATEWAY_BASE_URL=
PAYMENT_GATEWAY_TIMEOUT=15s
PAYMENT_GATEWAY_DEFAULT_CLIENT=
PAYMENT_GATEWAY_DEFAULT_KEY=
PAYMENT_GATEWAY_MERCHANT_UUID=
PAYMENT_GATEWAY_CALLBACK_SECRET=
PAYMENT_GATEWAY_WEBHOOK_SECRET=
PAYMENT_GATEWAY_PLATFORM_FEE_PERCENT=3

BOOTSTRAP_DEV_NAME=Dev
BOOTSTRAP_DEV_EMAIL="iqooz9xmg@gmail.com"
BOOTSTRAP_DEV_PASSWORD=Aa123123!Aab
INITDB_FRESH=false
INITDB_ALLOW_PRODUCTION_FRESH=false
